<?php

declare(strict_types=1);

return [
    'options' => [
        'debug' => setting('debug'),
        'charset' => setting('charset'),
        'strict_variables' => false,
        'autoescape' => 'name',
        'cache' => directory('@cache/twig/'),
        'auto_reload' => setting('debug'),
        'optimizations' => -1,
    ],
    'date' => [
        'format' => 'F j, Y H:i',
        'interval_format' => '%d days',
        'timezone' => setting('timezone'),
    ],
    'number_format' => [
        'decimals' => 0,
        'decimal_point' => '.',
        'thousands_separator' => ',',
    ],
    'runtime_loaders' => [],
    'globals' => [],
    'functions' => [],
    'filters' => [],
    'extensions' => [],
    'lexer' => [],
];
